<footer class="flex flex-col items-center text-center text-[.7rem] gap-1 pt-8 px-2">
  <app-basic-image
    [imageParams]="{
      src: 'assets/icons/atlassian.svg',
      alt: 'logo atlassian',
      height: 1.5,
      width: 8.8
    }"
  />
  <p>Una cuenta para Trello, Jira, Confluence y <a class="text-blue-500 hover:underline" href="#">más</a>.</p>
  <p class="leading-4">
    Este sitio está protegido por reCAPTCHA, y se aplican la
    <a class="text-blue-500 hover:underline" href="#">política de privacidad</a> y las
    <a class="text-blue-500 hover:underline" href="#">condiciones de servicio</a> de Google.
  </p>
</footer>
