<section class="min-h-dvh bg-[#fafbfc]">
  <app-banner />
  <div
    class="container-md flex flex-col justify-center items-center h-full px-10 pt-8 relative z-10 min-h-dvh"
  >
    <h1 class="pb-8" title="trello">
      <app-basic-image
      [imageParams]="{
        src: 'assets/icons/logo-gradient-blue-trello.svg',
        alt: 'logo trello',
        height: 1.5,
        width: 8.8,
        priority: true
      }"
    />
    </h1>
    <app-form-login />
    <app-social-login-buttons />
    <app-footer-login />
  </div>
</section>
