<section class="min-h-dvh bg-[#fafbfc] relative">
  <footer class="absolute w-full h-full">
    <img
      class="absolute size-96 left-4 bottom-0"
      src="assets/svg/trello-left.svg"
      alt="bg-left"
    />
    <img
      class="absolute size-96 right-4 bottom-0"
      src="assets/svg/trello-right.svg"
      alt="bg-right"
    />
  </footer>
  <div
    class="container-md flex flex-col justify-center items-center h-full shadow-card translate-y-8 px-10 py-8"
  >
    <h1 title="trello">
      <img
        class="w-32"
        src="assets/icons/logo-gradient-blue-trello.svg"
        alt="trello logo"
      />
    </h1>
    <div class="rounded">
      <p class="font-medium">Regístrate para continuar</p>
    </div>

    <form novalidate autocomplete="off">
      <input
        id="email"
        class="placeholder:text-sm placeholder:text-gray-400/80 border-2 border-gray-300 rounded w-full"
        placeholder="Introduce tu correo electrónico"
        type="email"
      />
      <p class="text-xs leading-4">
        Al registrarme, acepto las
        <a class="text-blue-500" href="#"> Condiciones del servicio </a>
        de Atlassian Cloud y su
        <a class="text-blue-500" href="#"> Política de privacidad. </a>
      </p>
      <button class="bg-blue-600/80 capitalize text-sm font-medium  text-white w-full h-10" type="submit">
        registrarse
      </button>
    </form>
  </div>
</section>
